body{
    margin: 0;
    height: 100vh;
}

div{
    box-sizing: border-box;
}


.titulo {
    padding: 20px;
    text-align: center;
    color: #000;
}

.titulo-info {
    padding: 20px 0px;
    text-align: center;
    color: #1A535C;
    font-size: 30px;

}


.registro-proveedor, .info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.info {
    display: flex;
    align-items: flex-start;
}

.info-registro {
    display: flex;
    justify-content: center;

}

.info-izquierda, .info-derecha {
    /* margin: 50px; */
    width: 100%;
    padding: 60px;
    margin: 0 100px;

}


.registro-proveedor img {
    width: 100%;
    
}

.info-titulos p {
    font-size: 16px;
}

.info-titulos span {
    font-weight: bold;
}

.right {
    padding-right: 200px;
}
