body{
    margin: 0;
    height: 100vh;
}

div{
    box-sizing: border-box;
}

.titulo {
    padding: 20px;
    text-align: center;
    color: #000;
}

.titulo-categoría {
    padding: 15px;
    text-align: center;
    color: #000;
    font-size: 25px;

}

.reporte {
    margin: 0 auto;
    width: 50%;
    padding-bottom: 30px;
}


.fa-file-excel, .fa-file-pdf {
    position: absolute;
    right: 10px;
    top: 9px;
    color: #bebebe;
    font-weight: 200px;
    transition: color, .2s ease-in-out;
}

.button-icon {
    position: relative;
    display: inline-block;
    margin: 20px;
}

.filtro {
    text-align: center;
    margin: 0 auto;
    padding: 15px 0px;
    width: 10%;
}

.buttons-export {
    display: flex;
    justify-content: flex-end;

}

.titulo-exportar {
    text-align: right;
    padding-right: 19.5%;
    
}

.titulo-exportar h4 {
    margin: 0;
}


.tablas-informativas{
    padding: 30px;
    justify-content: center;
}



.table-info {
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 2px 15px rgba(64,64,64,.7);
    border-radius: 12px 12px 0 0;
    margin: 0 auto;
   
}

.table-info td, .table-info th{
    padding: 15px 20px;

}

.table-info th {
    text-align: center;
}
   
.table-info th{
    background: rgba(9, 98, 121, 100);
    color: #fafafa;
    font-family: 'Open Sans',Sans-serif;
    font-weight: 200;
    text-transform: uppercase;
   
}
   
.table-info tr{
    width: 100%;
    background-color: #fafafa;
    font-family: 'Montserrat', sans-serif;
}
   
.table-info tr:nth-child(even){
    background-color: #eeeeee;
}

.margin-a {
    margin: 7px;
}

.estrellas{
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-star {
    color: #FDC800;
}


