<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Correo inicio sesión cliente</title>
</head>

<body>
    <div style="margin:  0 auto; width: 200px 10px;">
        <div style="text-align: center; padding-bottom: 200px;">
            <div style="text-align: center;">
                <img src="https://res.cloudinary.com/pets-world/image/upload/v1618528289/forgot_rts612.jpg" height="240px" width="260px" />
            </div>
            <p style="text-align: center; font-size: 35px;">¿Olvidó su contraseña?</p>
            <p style="margin: 30px; font-size: 18px;">No se preocupe</p>
            <p style="margin: 30px; font-size: 16px;">Para restablecer su contraseña, haga clic en el botón de abajo</p>
          
            <a href="http://localhost:5000/General/restablecerContrasenna/restablecer_contrasenna.html"
                style="text-decoration: none; padding: 13px 120px; background-color: #e40000; color: #fff; margin: 40px; font-size: 16px;">Restablecer contraseña</a>
    
        </div>

    </div>
    

</body>

</html>