body{
    margin: 0;
    height: 100vh;
    font-family: "Roboto", sans-serif;
}

div{
    box-sizing: border-box;
}


.carousel {
   padding-top: 60px;
   padding-bottom: 60px;
   margin-left: 23%;
}

.pw-form-inverse {
    text-align: center;
}


.titulo-anuncio {
    margin-top: 50px;
    padding: 15px;
    text-align: center;
    font-size: 15px;
    background-color: #eff6f8;
    margin-bottom: 20px;
}

